{% extends 'front/base/base_auther.html' %}
{% load widget_tweaks %}
{% block 'content' %}
    <div class="fs_menu_overlay"></div>
    <div class="hamburger_menu">
        <div class="hamburger_close"><i class="fa fa-times" aria-hidden="true"></i></div>
        <div class="hamburger_menu_content text-right">
            <ul class="menu_top_nav">
                <li class="menu_item has-children">
                    <a href="#">
                        My Account
                        <i class="fa fa-angle-down"></i>
                    </a>
                    <ul class="menu_selection">
                        {% if request.user.is_authenticated %}
                            <li><a href=""><i class="fa fa-sign-in" aria-hidden="true"></i>Mon compte</a></li>
                            <li><a href="{% url 'authentication_logout' %}"><i class="fa fa-user-plus" aria-hidden="true"></i>Deconnection</a></li>
                        {% else %}
                            <li><a href="{% url 'authentication_login' %}"><i class="fa fa-sign-in" aria-hidden="true"></i>Sign In</a></li>
                            <li><a href="{% url 'authentication_register' %}"><i class="fa fa-user-plus" aria-hidden="true"></i>Register</a></li>
                        {% endif %}
                    </ul>
                </li>
            
        </div>
    </div>

    <div class="container contact_container">
        <div class="row">
            <div class="col">
                <!-- Breadcrumbs -->

                <div class="breadcrumbs d-flex flex-row align-items-center">
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li class="active"><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Register</a></li>
                    </ul>
                </div>

            </div>
        </div>

        <div class="row">

            <div class="col-lg-6 get_in_touch_col">
                <div class="get_in_touch_contents">
                    <h1 style="margin-bottom: 25px;">Connection</h1>
                    {% comment %}Affichage des message d'erreur{% endcomment %}
                    {% if form.errors %}
                        {% for field in form %}
                            {% if field.errors %}
                                <div class="alert alert-danger">
                                    {{ field.errors }}
                                </div>                            
                            {% endif %}
                        {% endfor %}
                    {% endif %}

                    <form action="" method="post">
                        {% csrf_token %}
                        <div>         
                            {% render_field form.username class="form_input input_name input_ph" placeholder="Username" required="required" data-error="Username." %}

                            {% render_field form.password class="form_input input_name input_ph" placeholder="Password" required="required" data-error="Password." %}
                
                            {% comment %}Affichage des champs des formulaire{% endcomment %}
                        </div>
                        <div>
                            <button id="review_submit" type="submit" class="red_button message_submit_btn trans_300" value="Submit">S'inscrire</button>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
{% endblock 'content' %}