{% for product in products %}
    <div class="product-item {% for categorie in product.categories.all %} {{ categorie }} {% endfor %}">
        <div class="product discount product_filter">
            <div class="product_image">
                <img src="{{ product.photo.url }}" alt="">
            </div>
            <div class="favorite favorite_left"></div>

            {% comment %} Label new {% endcomment %}
            {% if product.is_new %}
                <div class="product_bubble product_bubble_left product_bubble_green d-flex flex-column align-items-center">
                    <span>new</span>
                </div>
            {% endif %}

            {% comment %} Label reduction {% endcomment %}
            {% if product.is_promotion %}
                <div class="product_bubble product_bubble_right product_bubble_red d-flex flex-column align-items-center">
                    <span>-{{ product.get_product_reduction }}XOF</span>
                </div>
            {% endif %}
                <div class="product_info">
                    <h6 class="product_name">
                        <a href="{% url 'front_product_detail' product.slug %}">{{ product.name }}</a>
                    </h6>
                    <div class="product_price">
                        {% comment %} Le prix est affiché en fonction de si il y'a une promotion ou pas {% endcomment %}
                        {% if product.is_promotion %}
                            {{ product.get_final_product_price }} XOF
                            <span>{{ product.original_price }} XOF</span>
                        {% else %}
                            {{ product.original_price }} XOF
                        {% endif %}
                    </div>
                </div>
        </div>
        <form method="post">
            {% csrf_token %}
            <div class="red_button add_to_cart_button"
            
                hx-post="{% url 'front_product_add_cart' product.pk %}"
                hx-swap="none"
                hx-triger="click">
                <a>add to cart</a>
            </div>
        </form>
    </div>
{% endfor %}