
{% extends 'front/base/base_simple.html' %}
{% load static %}

{% block 'content' %}

<div class="container">
    <div class="card">
        <div class="form">
            <div class="left-side">
                <div class="left-heading">
                    <h3>indeed</h3>
                </div>
                <div class="steps-content">
                    <h3>Etape <span class="step-number">1</span></h3>
                    <p class="step-number-content active">Veuillez sélectionner un addresse de livraison.</p>
                    <p class="step-number-content d-none">Veuillez sélectionner un mode de livraison.</p>
                    <p class="step-number-content d-none">Veuillez sélectionner un mode de paiement.</p>
                    <p class="step-number-content d-none">Validation de la commande</p>
                </div>
                <ul class="progress-bar">
                    <li class="active">Addresse de livraison</li>
                    <li>livraison</li>
                    <li>Payment</li>
                    <li>Finalisaton</li>
                </ul>
            </div>
                <div class="right-side">
                    <form action="" method="post">
                        {% csrf_token %}

                        <!-- Choice address--> 
                        <div class="main active">
                            <div class="text">
                                <h2>Choisir une addresse</h2>
                            </div>
                            <div class="input-text">
                                <div class="input-div">
        
                                    {% if user.delivery_address.all %}
                                        <select id="monselect">
                                            {% for address in list_address %}
                                                <option value="{{ address.pk }}">
                                                    {{ address.district.city.name }}
                                                    {{ address.district.name }}
                                                    {{ address.addresse }}
                                                </option>
                                            {% endfor %}
                                        </select>
                                        {% else %}
                                            <h3>Vous n'aucune d'addresse de livraison veuillez en ajouter une.</h3>
        
                                            <form method="post" action="{% url 'front_addresse_add' %}">
                                                {% csrf_token %}
                                                {{ form.as_p }}
        
                                                <select name="district" id="district">
                                                    {% for district in districts %}
                                                        <option value="{{ district.pk }}"> {{ district.name }} </option>
                                                    {% endfor %}
                                                </select>
                                                
                                                <input type="Submit">
                                            </form>
                                        
                                    {% endif %}
                                    
                                </div> 
                            </div>
       
                            <div class="buttons">
                                <button class="next_button" type="button">Suivant</button>
                            </div>
                        </div>
        
                        <!-- Choice delivery-->
                        <div class="main">
                            <div class="text">
                                <h2>Mode de livraison</h2>
                                <h3>Comment voulez-vous que votre commande soit livrée ?.</h3>
                            </div>
                            <div class="input-text">
                                <div class="input-div">
                                    {% for item in method_delivery %}
                                    <input type="radio" name="{{ item.pk }}" id="{{ item.pk }}" value="{{ item.name }}">
                                    <label for="{{ item.pk }}"> {{ item.name }} </label>
                                    <br>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="input-div">
                                <div class="input-div">
                                    <h3>Détail de la livraison</h3>
                                    {% for order in cart.order.all %}
                                        <div>
                                            <p>{{ order.quantity }} x {{ order.product }} </p>
                                        </div>
                                    {% endfor %}
                                </div>
                                <div class="input-div">
                                    <p>
                                        Total: 
                                        <span style="font-weight: bolder; font-size: 16px;">
                                            {{ price_total }} XOF
                                        </span>
                                    </p>
                                </div>
                            </div>
                            <div class="buttons button_space">
                                <button class="back_button" type="button">Retour</button>
                                <button class="next_button" type="button">Suivant</button>
                            </div>
                        </div>
        
                        <!-- Choice payment-->
                        <div class="main">
                            <div class="text">
                                <h2>Mode de payment</h2>
                                <h3>Par quel moyent de paiment que voulez-vous régler vôtre commande ?.</h3>
                            </div>
                            <div class="input-text">
                                <div class="input-div">
                                    {% for payment in payments %}
                                        <input type="radio" name="{{ payment.pk }}" id="{{ payment.pk }}">
                                        <label for="{{ payment.pk }}">{{ payment.name }}</label>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="buttons button_space">
                                <button class="back_button" type="button">Retour</button>
                                <button class="next_button" type="button">Suivant</button>
                            </div>
                        </div>
                          
                        <div class="main">
                            <div class="text">
                                <h3>Félicitation commande éffectué.</h3>
                                <i class="fa-thin fa-bell"></i>
                                
                            </div>
                            
                            <div class="buttons button_space">
                                <button class="back_button" type="button">Back</button>
                                
                                <button class="submit_button">Submit</button>
                            </div>
                        </div>
                        <div class="main">
                            <div class="text congrats">
                                <h2>Congratulations!</h2>
                                <p>Thanks Mr./Mrs. <span class="shown_name"></span> your information have been submitted successfully for the future reference we will contact you soon.</p>
                            </div>
                        </div>
                    </form>
                </div>
        </div>
    </div>
</div>
{% endblock 'content' %}

